<div class="center">
   <h1 class="text-center txt-color"> {{shows.name}}</h1>
    <img src="{{shows.image.medium}}" class="rounded mx-auto d-block" alt="{{shows.name}}">
    {{{shows.summary}}}
     <h5 class="text-center txt-color">Rating : {{shows.rating.average}} / 10</h5>
    <a href="{{shows.officialSite}}" class="text-center txt-color">More Information</a>
    </div>
